.app.dark {
  --bg-color: #080873;
  --inverted--bg-color: #e8e5e5;

  --primary-color: #41a62b;
  --secondary-color: #49ec0b;

  --inverted-primary-color: #12603b;
  --inverted-secondary-color: #0cb664;
}
