.app.light {
  --bg-color: #e8e5e5;
  --inverted--bg-color: #080873;

  --primary-color: #12603b;
  --secondary-color: #0cb664;

  --inverted-primary-color: #41a62b;
  --inverted-secondary-color: #49ec0b;
}
